.addcocktail{
  background-color: transparent;
} 
.addcocktailimage {
    width:30vm;
    display: inline-grid;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: bottom;
  }
.addcocktaildetails {
  width:30vm;
  margin-right: 5px;
  display: inline-grid;
  text-align: center;
}
.addcocktaildetails input, textarea{
  margin:5px auto;
  display: inline-block;
  min-width: 400px;
  font-family: inherit;
}

.addcocktaildetails button{
  width: fit-content;
  margin: 0px auto;
}