.addcocktail{
  background-color: transparent;
}

.submitButton{
  /* width: fit-content;
  margin: 0px auto; */
  background-color: indianred;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.column {
  float: left;
  width: 50%;  
}
.row:after {
  clear: both;  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 12px 6px 12px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.previewImage{
  height: 244px;
  border: 1px solid lightpink;
  margin: 6px 12px 6px 12px; 
}

.errorMessage{
  color: red;
  display: flex;
  padding-left:12px;
}
table{
  width: fit-content;
}
tr{
  width: fit-content;
}
td{
  widows: fit-content;
}

.button{
  background-color: lightpink;
  border: solid 1px indianred;  
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover{
  background-color: indianred;
}