.container {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      background-color: lightyellow !important;    
  }
.box {
    width: 200px;
    height: 150px;
    margin: 0px;
    float: left;
    text-align: center;
    padding-top: 0px !important;
  }
.box img{
  display: block;
  margin: 0 auto;
  border: 5px solid lightpink;
  padding-top: 0px !important;
}
.box p{
  display: block;
  margin: 0 auto;
}

.boxAdd{
  margin: 0 left;
  float: left;
}